  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <!-- <span class="copyright">Copyright &copy; {{ site.title }} 2019</span>-->
                    Department of Physical and Environmental Sciences <br>
                    University of Toronto Scarborough <br>
                    1065 Military Trail <br>
                    Toronto, ON Canada M1C 1A4 <br>
                    Email: karen.smith@utoronto.ca
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                        <a href="https://www.utsc.utoronto.ca/home/"><img src="{{ site.baseurl }}/img/utsc_logo.png"></a>
                </div>
            </div>
        </div>
    </footer>
